@charset "UTF-8";
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter18pt-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./../fonts/HelveticaNeue-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter24pt-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter24pt-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./../fonts/HelveticaNeue-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("./../fonts/HelveticaNeueRegular.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./../fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter24pt-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "SF Pro Text";
  src: url("./../fonts/SFProText-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neue Montreal";
  src: url("./../fonts/NeueMontreal-Bold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 100%;
  color: var(--black);
  background-color: var(--white);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.none {
  display: none;
}

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1920px;
  margin-inline: auto;
  padding-inline: 50px;
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

:root {
  --black: #121212;
  --blue: #0032e5;
  --white: #fff;
  --grey: #f8f8f8;
  --dark-grey: #ececec;
  --opacity-white-70: rgba(255, 255, 255, 0.7);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-black-50: rgba(18, 18, 18, 0.5);
  --opacity-black-20: rgba(18, 18, 18, 0.2);
  --opacity-black-10: rgba(18, 18, 18, 0.1);
  --opacity-blue-20: rgba(0, 50, 229, 0.2);
  --opacity-blue-10: rgba(0, 50, 229, 0.1);
  --font-family: "Helvetica Neue", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Neue Montreal", sans-serif;
  --font3: "SF Pro Text", sans-serif;
  --container-width: 1900px;
  --container-padding-x: 40px;
  --container-padding-y: 80px;
  --transition-duration: 0.2s;
}

.header {
  background-image: -webkit-image-set(url("./../../images/home/header-bg.jpg") 1x, url("./../../images/home/header-bg@2x.jpg") 2x);
  background-image: image-set(url("./../../images/home/header-bg.jpg") 1x, url("./../../images/home/header-bg@2x.jpg") 2x);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header-section {
  padding-top: 30px;
  padding-bottom: 50px;
}

.header__grids {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  padding: 10px;
  background: var(--white);
}

.header__grid-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 194px;
  height: 50px;
}

.header-address {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: var(--opacity-black-50);
}

.header__grid-center {
  margin-inline: auto;
  max-width: 467px;
  width: 100%;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header__grid-right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-around;
}

.header__contacts-nav {
  position: relative;
}

.header__contacts-tel {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-tell {
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header__social {
  padding-top: 15px;
  position: absolute;
  background-color: var(--white);
  width: 178px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.header__schedule {
  padding-bottom: 10px;
}

.header__social-item {
  padding-top: 12px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--black);
}

.button-header {
  border-radius: 30px;
  padding: 15px;
  width: 225px;
  height: 50px;
  background: var(--blue);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: var(--white);
}/*# sourceMappingURL=styles.css.map */