body  {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 100%;
  color: var(--black);
  background-color: var(--white);
}

a,
button,
label,
input,
textarea,
select,
svg * {
 transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1, .h1 {
  @include fluid-text(105, 40);
  font-weight: 800;
}

h2, .h2 {
  @include fluid-text(36, 20);
  font-weight: 800;
}

h3, .h3 {
  @include fluid-text(20, 16);
  font-weight: 800;
}