body  {
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 100%;
  color: var(--black);
  background-color: var(--white);
}

a,
button,
label,
input,
textarea,
select,
svg * {
 transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.none {
  display: none;
}

